<div class="row">
  <div class=" text-center" *ngFor="let publicacion of publicaciones">
 
    <div class="card">
      <div class="card-body">
        <form action="">
          <h3>&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; PUBLICACIÓN  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</h3>
          <div class="form-group">
            <input type="text" name="usuario" [(ngModel)]="publicacion.usuario" class="form-control" disabled>
            
          </div>
          <div class="form-group">
            <textarea name="mensaje"  rows="2" [(ngModel)]="publicacion.mensaje" class="form-control" disabled></textarea>
          </div>
          <div class="form-group">
            
            <select type="text" name="tipo" [(ngModel)]="publicacion.tipo" placeholder="Tipo" class="form-control" disabled>
              <option>Curso</option>
              <option>Catedrático</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    </div>
</div> 

    <br>
    <br>
    <hr/>
    <br>
    <br>
    
    <div class="card2">
        <div class="card-body">
          <form action="">
            <h3> &nbsp;NUEVO COMENTARIO  &nbsp;</h3>
            <div class="form-group">
              <textarea name="comentario"  rows="2" placeholder="Comentario" [(ngModel)]="comentario.comentario" class="form-control" autofocus></textarea>
            </div>
            <button class = "btn btn-success btn-block" (click)="saveNewComentario()">
              Save
            </button>
          </form>
        </div>
</div>